@using System.Data;
@using HospitalBedAndBloodManagementSystem.Models;
@model HospitalBedAndBloodManagementSystem.Models.GeneralViewModel
@{
    ViewBag.Title = "UserDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<body>
    <div style="background-color:cornflowerblue">
        <h3 style="color:white;text-align:center;text-shadow:inherit">@Model.UserTypeName Details Page</h3>
        <div style="background-color:white">
        <table align="center">
            <tr><td>
                <label id="Msg" style="color:coral">@Model.Msg</label>
                </td>
            </tr>
        </table>

        <table align="center" cellspacing="0" border="1" id="ctl00_ContentPlaceHolder1_dgvBlock" style="border-color:#FFFFFF;border-width:0px;border-style:Solid;width:80%;border-collapse:collapse;">
            <tr style="background-color:#1E90FF;border-color:#1E90FF;">
                <th style="color:#FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;border-right-color:#FFFFFF;">@Model.UserTypeName Name</th>
                @{
                    if (@Model.UserTypeId != 2)
                    {
                        <th style="color:#FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;border-right-color:#FFFFFF;">@Model.UserFieldName Name</th>
                    }
                }
                <th style="color:#FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;border-right-color:#FFFFFF;">Address</th>
                <th style="color:#FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;border-right-color:#FFFFFF;">Disrtict</th>
                <th style="color:#FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;border-right-color:#FFFFFF;">City</th>
                <th style="color:#FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;border-right-color:#FFFFFF;">Pincode</th>
                <th style="color:#FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;border-right-color:#FFFFFF;">ContactNo</th>
                <th style="color:#FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;border-right-color:#FFFFFF;">Gender</th>
                <th style="color:#FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;border-right-color:#FFFFFF;">DOB</th>
                <th style="color:#FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;border-right-color:#FFFFFF;">Email ID</th>
                <th style="color:#FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;border-right-color:#FFFFFF;">Registration Date</th>
                @{

                    if (@Model.UserTypeId != 2)
                    {
                        <th style="color:#FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;border-right-color:#FFFFFF;">Is Authorised</th>
                        <th style="color:#FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;border-right-color:#FFFFFF;">Role</th>
                        <th style="color:#FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif;border-left-color:#FFFFFF;border-right-color:#FFFFFF;">Action</th>
                    }
                }
            </tr>
            @{
                if (Model.Dt != null)
                {
                    foreach (DataRow dr in Model.Dt.Rows)
                    {
                        <tr style="background-color:#FFFFFF;border-color:#1E90FF;">
                            <td style="border-right-color:#1E90FF"> @dr["Name"].ToString()</td>
                            @{
                                if (@Model.UserTypeId != 2)
                                {
                                    <td style="border-right-color:#1E90FF"> @dr["UserFieldName"].ToString()</td>
                                }
                            }
                            <td style="border-right-color:#1E90FF"> @dr["Address"].ToString()</td>
                            <td style="border-right-color:#1E90FF"> @dr["DistrictName"].ToString()</td>
                            <td style="border-right-color:#1E90FF"> @dr["City"].ToString()</td>
                            <td style="border-right-color:#1E90FF"> @dr["Pincode"].ToString()</td>
                            <td style="border-right-color:#1E90FF"> @dr["ContactNo"].ToString()</td>
                            <td style="border-right-color:#1E90FF"> @dr["Gender"].ToString()</td>
                            <td style="border-right-color:#1E90FF"> @dr["DOB"].ToString()</td>
                            <td style="border-right-color:#1E90FF"> @dr["EmailID"].ToString()</td>
                            <td style="border-right-color:#1E90FF"> @dr["CreatedOn"].ToString()</td>

                            @{
                                if (@Model.UserTypeId != 2)
                                {
                                    <td style="border-right-color:#1E90FF"> @dr["IsAuthorised"].ToString()</td>
                                    <td style="border-right-color:#1E90FF"> @dr["Role"].ToString()</td>
                                    if (this.User.IsInRole("1") && Convert.ToInt32(Session["UserTypeId"]) == 1 && @Model.UserTypeId == 3)
                                    {
                                        <td align="center" style="width:20px;border-left-color:#1E90FF;"><a href="~/General/MakeHospitalAdmin/@dr["UserId"]">Make Hospital ADMIN</a> </td>
                                    }
                                    if (this.User.IsInRole("1") && Convert.ToInt32(Session["UserTypeId"]) == 1 && @Model.UserTypeId == 4)
                                    {
                                        <td align="center" style="width:20px;border-left-color:#1E90FF;"><a href="~/General/MakeBloodBankAdmin/@dr["UserId"]">Make Blood Bank ADMIN</a> </td>
                                    }
                                    if (this.User.IsInRole("1") && Convert.ToInt32(Session["UserTypeId"]) == 3 && @Model.UserTypeId == 3)
                                    {
                                        <td align="center" style="width:20px;border-left-color:#1E90FF;"><a href="~/General/MakeHospitalMember/@dr["UserId"]">Make Hospital Member</a> </td>
                                    }
                                    if (this.User.IsInRole("1") && Convert.ToInt32(Session["UserTypeId"]) == 4 && @Model.UserTypeId == 4)
                                    {
                                        <td align="center" style="width:20px;border-left-color:#1E90FF;"><a href="~/General/MakeBloodBankMember/@dr["UserId"]">Make Blood Bank Member</a> </td>
                                    }

                                }
                            }
                        </tr>




                    }
                    <tr style="border-left-color:#1E90FF;border-right-color:#1E90FF;border-bottom-color:#1E90FF"><td style="border-right-color:#FFFFFF;border-left-color:#FFFFFF;">&nbsp;&nbsp;</td><td style="border-right-color:#FFFFFF">&nbsp;&nbsp;</td><td style="border-right-color:#FFFFFF">&nbsp;&nbsp;</td><td style="border-right-color:#FFFFFF">&nbsp;&nbsp;</td><td style="border-right-color:#FFFFFF">&nbsp;&nbsp;</td><td style="border-right-color:#FFFFFF">&nbsp;&nbsp;</td><td style="border-right-color:#FFFFFF">&nbsp;&nbsp;</td><td style="border-right-color:#FFFFFF">&nbsp;&nbsp;</td><td style="border-right-color:#FFFFFF">&nbsp;&nbsp;</td><td style="border-right-color:#FFFFFF">&nbsp;&nbsp;</td><td style="width:80px;border-left-color:#FFFFFF;border-right-color:#FFFFFF">&nbsp;&nbsp;</td><td style="width:80px;border-left-color:#FFFFFF;border-right-color:#FFFFFF;">&nbsp;&nbsp;</td></tr>

                }
            }


        </table>
        </div>
    </div>

</body>
</html>



